<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乐峰网</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="font-btn/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="index">
<!--底部导航-->
    <nav>
        <ul class="clearfix">
            <li><a href="index.html" class="active"><i class="i1"></i><span>特卖</span></a></li>
            <li><a href="lingquan.html"><i class="i2"></i><span>领券</span></a></li>
            <li><a href="shop.html"><i class="i3"></i><span>购物车</span></a></li>
            <li><a href="dengchao.html"><i class="i4"></i><span>我的蜂巢</span></a></li>
        </ul>
    </nav>
<!--底部导航-->
<!--   导航-->
    <header class="search">
        <div class="container">
            <i class="logo"></i>
            <a href=""><i class="glyphicon glyphicon-search"> 丸美</i></a>
        </div>
    </header>
<!--   导航-->
<!--   swiper轮播图-->
       <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/swiper/banner01.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/swiper/banner02.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/swiper/banner03.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/swiper/banner04.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
      </div>
<!--   swiper轮播图-->
<!--   导航App-->
      <div class="app text-center">
          <a href=""><img src="img/app/app01.png" alt=""></a>
          <a href=""><img src="img/app/app02.png" alt=""></a>
          <a href=""><img src="img/app/app03.png" alt=""></a>
          <a href=""><img src="img/app/app04.png" alt=""></a>
          <a href=""><img src="img/app/app05.png" alt=""></a>
      </div>
      <div class="app1">
          <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/app/app1-01.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/app/app1-02.gif" alt=""></a>
          <a href=""><img src="img/app/app1-03.gif" alt=""></a>
          <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/app/app1-04.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/app/app1-05.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/app/app1-06.gif" alt=""></a>
          <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/app/app1-07.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/app/app1-08.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/app/app1-09.jpg" alt=""></a>
          <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/app/app1-11.jpg" alt=""></a>
      </div>
<!--   导航App-->
<!--滑动轮播-->
<div class="shop">
    <ul class="sp">
        <li class="sp1">
            <a href=""><img src="img/szlb/01.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/02.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/03.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/04.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/05.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/01.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/02.jpg" alt=""></a>
        </li>
        <li class="sp1">
            <a href=""><img src="img/szlb/03.jpg" alt=""></a>
        </li>
    </ul>
</div>
<!--滑动轮播-->
<!--main部分-->
<div class="main">
    <div class="mn">
        <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/main/main01.jpg" alt=""></a>
    </div>
    <div class="mn">
        <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/main/main02.jpg" alt=""></a>
    </div>
    <div class="mn">
        <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/main/main03.jpg" alt=""></a>
    </div>
    <div class="mn">
        <a href="http://w.lefeng.com/brand/800105780?m=brand&amp;brand_id=800105780"><img src="img/main/main04.jpg" alt=""></a>
    </div>
    <div class="mn">
        <a href="http://w.lefeng.com/brand/800104920?m=brand&amp;brand_id=800104920"><img src="img/main/main05.jpg" alt=""></a>
    </div>
</div>
<div class="title text-center">
    <span>品牌专场</span>
</div>
<div class="mai" id="nm">
    <div class="mm" v-for="arr in arrs">
        <a href=""><img :src="arr.img" alt=""></a>
        <span><a href="">{{arr.lgx}}</a>{{arr.lgxspan}}</span>
    </div>
</div>
<div class="jx text-center">
   <span>每日精选</span>
</div>
<div class="jingxuan" id="xj">
    <div class="container">
        <ul class="row">
            <li class="col-md-6 col-xs-6" v-for="list in lists">
                <img :src="list.img" alt=""> 
                <h2>{{list.bx}}<span>{{list.bxspan}}</span></h2>
                <p>{{list.price}}<del>{{list.de}}</del></p>
            </li>
        </ul>
    </div>
    </div>
<!--main部分-->
<!--footer部分-->
<div class="footer">
    <div class="left">
        <a href="">首页</a>
        <a href="">购物车</a>
        <a href="">客户端</a>
    </div>
    <div class="right">
        <a href="">登录</a>
        <a href="">注册</a>
    </div>
    <p class="kf text-center">联系客服<a href=""> 400-000-1818</a></p>
    <p class="db text-center">Copyright © 2008-2018 Lefeng.com All Rights Reserved</p>
</div>
<!--footer部分-->
<!--回到顶部-->
    <div id="top"></div>
<!--回到顶部-->
   <script src="js/swiper-4.2.6.min.js"></script>
   <script src="js/jquery-1.11.1.min.js"></script>
   <script src="js/timeCountDown.js"></script>
   <script src="js/vue.js"></script>
   <script src="js/script.js"></script>
</body>
</html>