*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
/*top-header样式复写开始*/
.top-header{
    background-color: #000;
    width: 100%;
}
.home-account a,
.cart-info a{
    color: #f78e21;
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px 0px;
}
.cart-info .glyphicon{
    display: inline-block;
    color: #fff;
}
.top-header .row .cart-info {
    text-align: right;
}
.cart-info a{
    padding: 10px 0px;
    font-size: 14px;
}
.cart-info .a1{
    color: #fff;
}
/*top-header样式复写结束*/
/*main-header样式复写开始*/
.main-header .logo{
    padding: 20px 0;
}
.main-header .main-menu li {
    list-style: none;
    display: inline-block;
    padding: 40px 0px;
}
.main-header .main-menu a {
    font-weight: 700;
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    margin-right: 35px;
}
.main-header .input{
    text-align: right;
    margin-top: 33px;
}
.input{
    padding: 10px;
    border: 1px solid #e2e2e2;
    width: 100%;
    font-size: 14px;
    height: 35px;
}
.input .glyphicon{
    color: #f78e21;
}
/*main-header样式复写结束*/
/*轮播图样式复写开始*/
.swiper-container img{
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.txt h1{
    text-shadow: 1px 1px #777;
    font-size: 48px;
    padding-bottom: 10px;
    color: #f78e21;
    text-transform: uppercase;
    margin-top: -470px;
    position:absolute; 
    z-index:2;
    margin-left: 520px;
}
.txt p{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 15px;
    margin-top: -385px;
    margin-left: 370px;
    position:absolute; 
    z-index:2;
}
.txt a{
    margin-top: -225px;
    margin-left: 640px;
    text-decoration: none;
    display: inline-block;
    background-color: #f78e21;
    width: 200px;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
}
/*轮播图样式复写结束*/
/*nav-header样式复写开始*/
.nav-header h2 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-header i{
    color: #f78e21;
    width: 40px;
    height: 40px;
}
.div2 i {
    border-radius: 50%;
    border: 20px solid #f78e21;
    color: #f78e21;
    font-size: 28px;
    line-height: 80px;
    width: 120px;
    height: 120px;
    text-align: center;
    margin-top: 30px;
}
.nav-header .div1 p{
    font-size: 14px;
    color: #666;
}
.nav-header .db img{
    width: 100%;
    padding: 15px 0px;
    display: block;  
    border: 0;  
    transform: scale(1);  
    transition: all 1s ease 0s;  
    -webkit-transform: scale(1);  
    -webkit-transform: all 1s ease 0s;  
}
.nav-header .post1:hover img,  
.nav-header .post2:hover img,
.nav-header .post3:hover img,
.nav-header .post4:hover img,
.nav-header .post5:hover img,
.nav-header .post6:hover img{  
    transform: scale(1.3);  
    transition: all 1s ease 0s;  
    -webkit-transform: scale(1.3);  
    -webkit-transform: all 1s ease 0s;  
}  
/*nav-header样式复写结束*/
/*nav-footer样式复写开始*/
.nav-footer h2 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}
.main .mai p{
    text-align: center;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}
.main .mai h6,
.main .mai a{
    margin-top: 25px;
}
.main .mai a {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
.main .mai a{
    text-decoration: none;
    color: #f78e21;
}
/*nav-footer样式复写结束*/
/*top-footer样式复写开始*/
.top-footer .left{
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    float: left;
    margin-right: 28px;
    margin-top: 40px;
    padding-bottom: 40px;
}
.top-footer .ipt{
    padding: 5px 10px 5px 10px;
    line-height: 35px;
    height: 35px;
    max-width: 280px;
    width: 280px;
    margin-top: 54px;
    margin-left: -200px;
    outline: 0;
    border-color: red;
}
.bottom {
    position: absolute;
    right: 275px;
    top: 30px;
    width: 34px;
    height: 34px;
    background: url(../img/top-footer/subscribe-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    content: '';
    border: 0;
}
.top-footer .right h2{
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    margin-right: 115px;
    margin-top: 60px;
}
.top-footer .right ul li{
    list-style: none;
}
.top-footer .right::after{
    display: table;
    content: "";
    clear: both;
}
.top-footer .right ul li a{
    float: left;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #bbb;
    text-decoration: none;
    top: -40px;
    position: relative;
    left: 170px;
}
/*top-footer样式复写结束*/
/*main-footer样式复写开始*/
.main-footer .about .footer-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.main-footer .about p{
    color: #bbb;
}
.main-footer .about a{
    text-decoration: none;
    color: #f78e21;
}
.main-footer .shop ul li{
    list-style: none;
    margin: 10px 0;
}
.main-footer .shop ul li a{
    color: #bbb;
    font-size: 14px;
    padding-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 15px;
}
.posts{
    margin-top: 15px;
}
.main-footer .more p,
.main-footer .more a{
    color: #bbb;
    padding: 15px 0px;
}
/*main-footer样式复写结束*/
/*footer样式复写开始*/
.footer{
    text-align: center;
    padding: 60px 0 15px 0;
}
/*footer样式复写结束*/


/*about样式*/
/*.about-header样式复写开始*/
.about-header{
    background-image: url(../img/about/header/bg-image.jpg);
    height: 140px;
}
.about .heading-content {
    text-align: center;
    margin-top: 35px;
    color: #fff;
}
.about .heading-content a{
    color:#f78e21;  
}
.about-banner .mg h2{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}
.about-main .thumb img{
    width: 100%;
    margin-top: 45px;
}
/*.about-header样式复写结束*/
/*main-mian样式复写开始*/
.wenzi{
    margin-top: 80px;
}
.autor h2{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.autor span{
    color: #f78e21;
    font-weight: 600;
    margin-left: 105px;
}
.autor img{
    width: 100%;
    margin-top: 70px;
}
.autor:hover img{  
    transform: scale(1.3);  
    transition: all 1s ease 0s;  
    -webkit-transform: scale(1.3);  
    -webkit-transform: all 1s ease 0s; 
}
/*main-main样式复写结束*/
/*about-footer样式复写开始*/
.about-footer .wz h2{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}
.about-footer .zw .z p{
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}
.about-footer .zw .z a{
    text-decoration: none;
    color: #f78e21;
}
/*about-footer样式复写结束*/
/*top-footer样式复写开始*/
.top-footer .iptt{
    padding: 5px 10px 5px 10px;
    line-height: 35px;
    height: 35px;
    max-width: 280px;
    width: 280px;
    margin-top: 54px;
    outline: 0;
    border-color: red;
}
.bottomm{
    position: absolute;
    right: 210px;
    top: 53px;
    width: 34px;
    height: 34px;
    background: url(../img/top-footer/subscribe-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    content: '';
    border: 0;
}
/*top-footer样式复写结束*/

/*products-hea样式复写开始*/
.products-header{
    background-image: url(../img/about/header/bg-image.jpg);
    height: 140px;
}
.products-header .heading-content {
    text-align: center;
    margin-top: 35px;
    color: #fff;
}
.products-header .heading-content a{
    color:#f78e21;  
}
.products-hea .pro{
    margin-top: 80px;
}
.products-hea ul::after{
    display: table;
    content: "";
    clear: both;
}
.products-hea ul li{
    float: left;
    list-style: none;
}
.products-hea span{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #444;
    padding-left: 15px;
    text-transform: uppercase;
}
#filters a{
    position: relative;
    left: 370px;
    top: 25px;
    color: #333;
    text-decoration: none;
}
#filters a:hover{
    color: #f78e21;
}
/*products-hea样式复写结束*/
/*products-main样式复写开始*/
.products-main .iner img{
    width: 100%;
    margin-top: 100px;
}
.products-main h3{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #444;
    padding-left: 15px;
    text-transform: uppercase;
}
.products-main span a{
    font-weight: 300;
    display: block;
    color: #f78e21;
    text-align: center;
}
/*products-main样式复写结束*/
/*pagination样式复写开始*/
.pagination {
    margin-top: 60px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination li {
    list-style: none;
    display: inline-block;
}
.pagination a {
    background-color: #444;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: block;
    text-align: center;
}
.pagination{
    margin-left: 200px;
}
/*pagination样式复写结束*/
/*top-footer样式复写开始*/
.top-footer .iptp{
    padding: 5px 10px 5px 10px;
    line-height: 35px;
    height: 35px;
    max-width: 280px;
    width: 280px;
    margin-top: 54px;
    outline: 0;
    border-color: red;
}
.bottomo{
    position: absolute;
    right: 210px;
    top: 30px;
    width: 34px;
    height: 34px;
    background: url(../img/top-footer/subscribe-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    content: '';
    border: 0;
}
/*top-footer样式复写结束*/
/*contact-banner样式复写开始*/
.contact-banner h2{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}
.message-form textarea {
    padding-bottom: 20px;
}
textarea {
    height: 165px;
    max-height: 180px;
    max-width: 770px;
    line-height: 18px;
    width: 100%;
}
input, textarea {
    padding: 10px;
    border: 1px solid #e2e2e2;
    width: 100%;
    margin-top: 25px;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #aaa;
    outline: none;
}
.send button {
    width: 90px;
    color: #fff;
    cursor: pointer;
    height: 35px;
    line-height: 30px;
    text-align: center;
    background-color: #f78e21;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    outline: none;
}
.contact-banner .info p{
    font-size: 13px;
    color: #666;
    padding-bottom: 20px;
    margin-top: 25px;
}
.info li {
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
    color: #666;
}
.info i {
    color: #f78e21;
    margin-right: 10px;
    font-size: 18px;
}
.info a{
    text-decoration: none;
    color: #f78e21
}
.bottomoe{
    position: absolute;
    right: 210px;
    top: 30px;
    width: 34px;
    height: 34px;
    background: url(../img/top-footer/subscribe-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    content: '';
    border: 0;
}
/*contact-banner样式复写结束*/
/*contact-main样式复写开始*/
.contact-main h2{
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
}
/*contact-main样式复写结束*/

/*手机端样式*/
@media (max-width: 768px){
    .top-header{
        display: block;
        text-align: center;
    }
    .main-header .logo{
        text-align: center;
    }
    .main-header .main-menu li {
        list-style: none;
        display: inline-block;
        padding: 10px 145px
            ;
        text-align: center;
    }
    .main-header .input {
        display: none;
    }
    .nav-header img,
    .nav-footer img{
        display: none;
    }
    .top-footer{
        display: none;
    }
    .main-footer .footer-title{
        margin-top: 55px;
    }
    .about{
        text-align: center;
    }
    .autor span {
        color: #f78e21;
        font-weight: 600;
        margin-left: 0;
    }
    .about .mg img,
    .about .wenzi img{
        display: none;
    }
    .products{
        text-align: center;
    }
    .products .pro img{
        display: none;
    }
    .pagination ul{
        margin-left: -200px;
    }
    .contact{
        text-align: center;
    }
    .h2 img,
    .hh img{
        display: none;
    }
}
/*手机端样式*/