*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
.index,.fc{
    margin-bottom: 100px;
}
/*弹窗效果*/
.tc img{
    width: 100%;
}
.tc{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.46);
}
.ct{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tc span{
    color:#777777;
    background: #999999;
    position: fixed;
    right: 15px;
    top: 10px;
}
/*弹窗效果*/
/*底部导航开始*/
nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}
nav li{
    list-style: none;
    float: left;
    width: 20%;
    padding: 10px 0px;
}
nav ul::after{
    display: table;
    content: "";
    clear: both;
}
nav ul{
    text-align: center;
    padding: 0;
    border-top: 1px solid #cbcbcb;
}
nav ul li .i1{
    width: 22px;
    height: 22px;
    background-image: url(../img/%E4%B8%8B%E8%BD%BD.png);
    display: inline-block;
    background-size: cover;
    position: relative;
    left: 30px;
    top: 5px;
}
nav ul li .i2{
    width: 22px;
    height: 22px;
    background-image: url(../img/dbdh/db-02.png);
    display: inline-block;
    background-size: cover;
    position: relative;
    left: 30px;
    top: 5px;
}
nav ul li .i3{
    width: 22px;
    height: 22px;
    background-image: url(../img/dbdh/db-03.png);
    display: inline-block;
    background-size: cover;
    position: relative;
    left: 30px;
    top: 5px;
}
nav ul li .i4{
    width: 22px;
    height: 22px;
    background-image: url(../img/dbdh/db-04.png);
    display: inline-block;
    background-size: cover;
    position: relative;
    left: 30px;
    top: 5px;
}
nav ul li span{
    position: relative;
    left: 30px;
/*    color: #333333;*/
    font-weight: 600;
}
nav a span{
    display: block;
    padding-top: 3px;
}
nav a{
    color: #5d5f6a;
    text-decoration: none;
}
nav a:hover,
nav a:focus,
nav a.active{
    color: #f23030;
    text-decoration: none;
}
/*底部导航结束*/
/*导航样式开始*/
.search{
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
/*    background: #884c60;*/
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -15px;
}
header .container{
    background: #fc1158;
    width: 100%;
    height: 45px;
}
header .logo{
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 70px;
    height: 30px;
    background-size: cover;
    background-position: 80%;
    background-image: url(../img/logo.png);
    margin-top: 15px;
}
header .container a{
    background: #ca0e46;
    color: #fff;
    width: 70%;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    left: 85px;
    top: 6px;
    margin-top: 15px;
}
header .container .glyphicon-search{
    color: #e58aa5;
    position: absolute;
    left: 70px;
    top: 8px;
}
/*导航样式结束*/
/*轮播图开始*/
.banner img{
    width: 100%;
    height: 155px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 35%;
    width: 100%;
    border-radius: 0;
}
/*轮播图结束*/
/*导航App*/
.app a img{
    width: 60px;
    height: 60px;
}
.app1 img{
    width: 100%;
}
/*导航App*/
/*滑动轮播*/
.shop::after{
    display: table;
    content: "";
    clear: both;
}
.shop .sp{
    width: 640px;
}
.shop{
    overflow: scroll;
    position: relative;
}
.shop .sp .sp1 a img{      
    width: 100%;
}
.shop .sp1{
    float: left;
    width: 80px;
    text-align: center;
    list-style: none;
}
.shop .sp1 a{
    text-decoration: none;
    font-weight: bold;
}
.fx img{
    width: 50%;
}
/*滑动轮播*/
/*main部分*/
.main img{
    width: 100%;
    margin-top: 8px;
}
.title span{
    color: #888;   
    position: relative;
    top: 5px;
}
.mai .mm  img {
    vertical-align: middle;
    width: 100%;
    margin-top: 10px;
}
.mai span a{
    color: red;
}
.jx span{
    color: #888;
}
.jingxuan .row img{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.jingxuan h2{
    font-size: 14px;
    font-weight: bold;
}
.jingxuan h2 span{
    font-size: 12px;
    color: #b2b2b2;
}
.jingxuan p{
    color: #333333;
    font-weight: bold;
}
.jingxuan del{
    color: #999999;
}
.jingxuan ul li{
    list-style: none;
}
/*main部分*/

/*领券部分nav样式*/
.lq nav{
    display: none;
}
/*领券部分nav样式*/
/*领券部分header样式*/
.lq .hea .der img{
    width: 100%;
}
/*领券部分header样式*/
/*领券部分banner样式*/
.lq .banner{
    background-color: rgb(138, 42, 228);
    padding: 10px 0px 10px;
}
.lq .banner img{
    width: 100%;
}
.lq .banner .col-md-6{
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    height: 210px;
}
.lq .banner .redbag {
    position: absolute;
    top: 8px;
    right: 20px;
    width: 35px;
    height: 35px;
}
.lq .banner  .promotion-wrap span{
    position: relative;
    top: -30px;
    left: 4px;
    vertical-align: middle;
    color: #810b04;
    font-weight: bold;
}
.lq .banner  .brandName {
    color: #000;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
}
.lq .banner .buy{
    color: #fff;
    font-weight: bold;
    background: #810b04;
    padding: 0;
    position: relative;
    top:-40px;
}
.lq .banner #md{
    margin-top: -50px;
}
/*领券部分banner样式*/

/*购物车部分header样式*/
.shop nav{
    display: none;
}
.shop{
    background: #f6f6f6;
}
.denglu .yz input,
.denglu .dl input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin: 0;
    border: 1px solid;
    background-color: #fff;
    line-height: 1;
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
    text-align: center;
}
.denglu .yz input{
    margin-bottom: -1px;
    margin-top: 40px;
}
.denglu .glyphicon{
    position: relative;
    top: -24px;
    left: 275px;
    color: #000;
}
button[type=submit] {
    width: 70%;
    height: 35px;
}
.btn-primary {
    box-sizing: border-box;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ff0056;
    display: block;
    padding: 0;
    margin: 0 auto;
    border: none;
    font-size: .15rem;
    height: .45rem;
    line-height: .45rem;
    width: 1.4rem;
    text-align: center;
    border-radius: 3px;
    outline: none;
    text-shadow: 0 -1px rgba(0,0,0,.25);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.denglu .i5{
    width: 20px;
    height: 20px;
    background-image: url(../img/lofo1.png);
    display: inline-block;
    background-size: cover;
    position: relative;
    left: 10px;
    top: -15px;
    border-radius: 50%;
}
.name{
    font-size: 12px;
    position: relative;
    left: 45px;
    top: -16px;
}
.linkk{
    text-align: right;
}
.linkk a{
    position: relative;
    top:10px;
    left: -20px;
}
/*立即注册代码*/
.zc .cz .sj{
    width: 60%;
    height: 35px;
    position: relative;
    top: 30px;
}
.zc .cz{
    margin-top:  -25px
}
#bt{
    position: relative;
    top: 15px;
}
.btn{
    background: #ff0056;
    color: #000;
    width: 35%;
    margin-top: 25px;
}
/*立即注册代码*/

/*购物车里面的推荐商品代码*/
.tuijian h2{
    font-size: 16px;
    color: #777777;
    text-align: center;
}
.tuijian img{
    width: 100%;
}
/*购物车里面的推荐商品代码*/

/*找回密码代码*/
.zc p{
    font-size: 14px;
    color: #777777;
    margin-top: 10px;
    margin-left: 15px;
}
/*找回密码代码*/

/*蜂巢header代码*/
.fc{
    background: #f6f6f6;
}
.fc .bg{
    z-index: 1;
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/yonghu/bg.png);
    transform: translateZ(0);
}
.left{
    float: left;
}
.bg>.left>img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
}
.fc .bg>.left>a {
    z-index: 2;
    color: #333;
    text-decoration: none;
}
.name1{
    font-size: 12px;
    position: fixed;
    left: 85px;
    top: 30px;
}
.container .order .dd{
    color: #000;
    position: absolute;
    top: 95px;
    left: 15px;
}
.tab .order::after{
    display: table;
    content: "";
    clear: both;
}
.tab .order .txt{
    color: #000;
    position: absolute;
    top: 95px;
    right: 20px;
}
.tab .order .glyphicon{
    color: #919191;
    position: absolute;
    top: 97px;
    right: 4px;
}

.tab .container .ip img{
    width: 45px;
    height: 45px;
}
.tab .container .ip .ii1{
    margin-top: 25px;
    margin-left: -253px;
    width: 40px;
    height: 40px;
}
.tab .container .ip .aa1{
    margin-left: -253px;
    color:#000;
}
.tab .container .ip .ii2{
    margin-top: -110px;
    width: 40px;
    height: 40px;
}
.tab .container .ip .aa2{
    position: relative;
    top: -40px;
    color:#000;
}
.tab .container .ip .ii3{
    margin-top: -188px;
    margin-left: 250px;
    width: 40px;
    height: 40px;
}
.tab .container .ip .aa3{
    position: relative;
    top: -80px;
    left: 130px;
    color:#000;
}
.ban::after{
    display: table;
    content: "";
    clear: both;
}
.ban{
    margin-top: -66px;
}
.ban .txt{
    float: right;
    font-size: 14px;
    margin-right: -2px;
    color: #666;
    margin-top: 2px;
}
.ban .img-icon{
    float: left;
}
.ban img{
    width: 30px;
    height: 30px;
}
.ban .container{
    background: #fff;
    width: 100%;
    margin-top: 5px;
}
.tai{
    margin-top: 10px;
}
.tai .container{
    background: #fff;
    width: 100%;
    margin-top: 4px;
}
.ta
{
    margin-top: 10px;
}
/*蜂巢header的代码*/






/*footer部分*/

.footer .left{
    text-align:left;
    padding-left: 15px;
}
.footer .left a{
    color: #333333;
}
.footer .right{
    text-align: right;
    margin-top: -20px;
    color: #333333;
    padding-right: 15px;
}
.footer .right a{
    color: #333333;
}
.footer .kf{
    margin-top: 40px;
}
.footer .kf a{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.footer .db{
    font-size: 12px;
    color: #333333;
}
/*footer部分*/
/*回到顶部样式*/
#top{
    width: 40px;
    height: 40px;
    background: url(../img/huidaodinngbu.png);
    background-size: cover;
/*    display: inline-block;*/
    position: fixed;
    bottom: 84px;
    right: 5px;
    z-index: 100;
}
/*回到顶部样式*/
